.nav {
    background-color: rgba(128, 128, 128, 0.5);;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10; 
  }
  
  .nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
  .nav li {
    display: inline-block; 
  }
  
  .nav a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px 15px; 
  }
  
  .nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transition: background-color 0.3s ease;
  }
p {
 font-size:80px;
 color: white;
position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
body {
background-color: black;
 }

.iframeWindow {
    position: absolute;
    width: 100vw;
    height: 90vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    background-color: #141414;
}

#urlInput {
    position: absolute; 
    bottom: 0;
    padding: 0em;
    padding-left: 0.5em;
    margin: 0;
    width: 80vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: aliceblue;
    background-color: #25252a;
    font-size: 5vh;
 
}

#searchButton {
    position: absolute; 
    bottom: 0;
    right: 0;
    margin: 0;
    width: 20vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: #141414;
    background-color: aliceblue;
    font-size: 3vh;
}

h1 {
top: 0;
 left: 0;
 text-align: left;
position: absolute; 
 font-size: 10px;
 text-color: white;
}
